## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\audre\Desktop\Classwork\Module 6\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aleppo,SY,36.2500,37.5000,53.11,75,30,13.69,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,44.60,81,40,37.98,light rain
2,2,Pangody,RU,65.8500,74.4859,16.30,95,100,6.76,light snow
3,3,Iquique,CL,-20.2208,-70.1431,78.80,44,0,16.11,clear sky
4,4,Presidente Medici,BR,-11.1753,-61.9014,74.34,96,100,2.68,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 69

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aleppo,SY,36.2500,37.5000,53.11,75,30,13.69,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,44.60,81,40,37.98,light rain
5,5,Ponta Do Sol,PT,32.6667,-17.1000,68.00,56,20,16.11,few clouds
7,7,Sistranda,NO,63.7256,8.8340,41.00,70,40,16.11,scattered clouds
9,9,Seinajoki,FI,62.7945,22.8282,35.01,80,0,6.91,clear sky
14,14,Punta Arenas,CL,-53.1500,-70.9167,50.00,57,40,35.68,scattered clouds
15,15,Ribeira Grande,PT,38.5167,-28.7000,62.60,88,40,9.22,scattered clouds
22,22,Cape Town,ZA,-33.9258,18.4232,68.00,82,75,19.57,broken clouds
23,23,Busselton,AU,-33.6500,115.3333,59.00,57,0,7.61,clear sky
25,25,Hermanus,ZA,-34.4187,19.2345,63.00,90,97,1.99,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                184
City                   184
Country                184
Lat                    184
Lng                    184
Max Temp               184
Humidity               184
Cloudiness             184
Wind Speed             184
Current Description    184
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aleppo,SY,53.11,scattered clouds,36.2500,37.5000,
1,Ushuaia,AR,44.60,light rain,-54.8000,-68.3000,
5,Ponta Do Sol,PT,68.00,few clouds,32.6667,-17.1000,
7,Sistranda,NO,41.00,scattered clouds,63.7256,8.8340,
9,Seinajoki,FI,35.01,clear sky,62.7945,22.8282,
14,Punta Arenas,CL,50.00,scattered clouds,-53.1500,-70.9167,
15,Ribeira Grande,PT,62.60,scattered clouds,38.5167,-28.7000,
22,Cape Town,ZA,68.00,broken clouds,-33.9258,18.4232,
23,Busselton,AU,59.00,clear sky,-33.6500,115.3333,
25,Hermanus,ZA,63.00,overcast clouds,-34.4187,19.2345,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location":""}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aleppo,SY,53.11,scattered clouds,36.2500,37.5000,NaN
1,Ushuaia,AR,44.60,light rain,-54.8000,-68.3000,Albatros Hotel
5,Ponta Do Sol,PT,68.00,few clouds,32.6667,-17.1000,Hotel do Campo
7,Sistranda,NO,41.00,scattered clouds,63.7256,8.8340,Hotell Frøya
9,Seinajoki,FI,35.01,clear sky,62.7945,22.8282,"Original Sokos Hotel Vaakuna, Seinäjoki"
...,...,...,...,...,...,...,...
683,Lasa,IT,57.20,overcast clouds,46.6166,10.7002,Pension Feldgärtenhof
686,Prikubanskiy,RU,35.74,overcast clouds,45.0015,41.1795,Hotel Prague
688,Syracuse,IT,60.80,few clouds,37.0881,15.2792,Hotel Posta
689,Tvedestrand,NO,46.00,clear sky,58.6220,8.9315,Tvedestrand Fjordhotell
690,Obukhiv,UA,41.00,mist,50.1100,30.6227,Pegas Hotel

In [9]:
# 7. Drop the rows where there is no Hotel Name.
emphotel_df=hotel_df.dropna()
emphotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,44.60,light rain,-54.8000,-68.3000,Albatros Hotel
5,Ponta Do Sol,PT,68.00,few clouds,32.6667,-17.1000,Hotel do Campo
7,Sistranda,NO,41.00,scattered clouds,63.7256,8.8340,Hotell Frøya
9,Seinajoki,FI,35.01,clear sky,62.7945,22.8282,"Original Sokos Hotel Vaakuna, Seinäjoki"
14,Punta Arenas,CL,50.00,scattered clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
15,Ribeira Grande,PT,62.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
22,Cape Town,ZA,68.00,broken clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
23,Busselton,AU,59.00,clear sky,-33.6500,115.3333,Observatory Guest House
25,Hermanus,ZA,63.00,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
38,Port Alfred,ZA,66.99,light rain,-33.5906,26.8910,The Halyards Hotel
41,Douglas,US,41.00,mist,41.3000,-96.1670,Hilton Garden Inn Omaha West
43,Saint George,US,41.00,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
71,Laguna,US,41.00,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
74,Sarab,IR,44.44,overcast clouds,38.6066,44.9883,مسجد امام رضا
76,Jalu,LY,67.64,clear sky,29.0331,21.5482,صاحبة الفخامة
81,Kashi,CN,59.00,broken clouds,39.4547,75.9797,帕米尔青年旅舍
88,Lagoa,PT,60.26,few clouds,39.0500,-27.9833,Casa Das Faias
92,Ardakan,IR,62.60,few clouds,32.3100,54.0175,Ardakan Hotel
96,Lebu,CL,58.59,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
98,Narsaq,GL,41.00,broken clouds,60.9167,-46.0500,Hotel Narsaq

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
emphotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in emphotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = emphotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))